body {
    background-color: #e6e6e6;
    /* color: aliceblue; */
    padding-left: 10%;
    padding-right: 10%;
}

label {
    display: inline-block;
    text-align: right;
    width: 80px;
    margin-right: 5px;
    vertical-align: top;
}

.item {
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    width: 100%;
}

tr {
    height: 40px;
}

table,
td {
    border: 1px solid #757575;
    border-collapse: collapse;
    border-style: dotted;
}

td {
    text-align: center;
}

.error {
    background-color: #eecccc;
    padding: 0.25em;
    margin-bottom: 1em;
    text-align: center;
}

.login-status button {
    max-width: fit-content;
    font-size: medium;
    margin-left: 0.2em;
    margin-right: 0.2em;
    box-shadow: 2px 1px 1px gray;
    border-radius: 0px;
}
