<html>
    <head>
        <title>City Jail Database System</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>City Jail Database System</h1>
        <div align="right">
            <a>
                <button type="button">Criminal</button>
            </a>
            <a>
                <button type="button">Crime</button>
            </a>
        </div>
        <hr>
        <h3>
            Add Criminal Information
        </h3>
        <form>
            <div class="item">
                <label>Name*</label>
                <input placeholder="First">
                <input placeholder="Last">
            </div>
            
            <div class="item">
                <label>Address*</label>
                <input size="42" placeholder="Street">
            </div>
            <div class="item">
                <label></label>
                <input placeholder="City">
                <input size="15" placeholder="State">
                <input size="10" placeholder="Zipcode">
            </div>


            <div class="item">
                <label>Phone*</label>
                <input placeholder="No hyphen">
            </div>

            <div class="item">
                <label>Violent</label>
                <select>
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>

            <div class="item">
                <label>Probation</label>
                <select>
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
            </div>

            <div class="item">
                <label>Aliases</label>
                <textarea cols="40" rows="3" placeholder="Enter in seperate lines"></textarea>    
            </div>

            <div class="item">
                <label></label>
                <input type="submit">
            </div>
        </form>
    </body>
</html>