<link rel="stylesheet" href="/css/home.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to City Jail Database</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <div class="container">
        <h3>Welcome to the City Jail database!</h3>
        <div class="image-container">
            <img src="https://i.imgur.com/y8T1B9v.png" alt="Central Image">
        </div>
        <p>
            Navigate through any directory using the dropdown menus on the sidebar. 
            <br>
            <br>
            View an entry's details by pressing 'view details' next to its listing. 
            <br>
            <br>
            In an entry's details page,you can add, edit, or delete related entries.
            <br>
            <br>
            Many pages will have an "Add Entry" button located at the bottom right of the page.
        </p>
        
    </div>
</body>