<html>

<head>
    <meta charset="utf-8">
    <title>City Jail Database</title>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
    <header>
        <h1>City Jail Database</h1>
        <nav class="nav-bar">

            <div class="dropdown">
                <button class="dropbtn">Inmate Directory</button>
                <div class="dropdown-content">
                    <a href="/criminal">Criminal</a>
                    <a href="/crime">Crime</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Officer Directory</button>
                <div class="dropdown-content">
                    <a href="/officer">Police Officer</a>
                    <a href="/prob_officer">Probation Officer</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Others</button>
                <div class="dropdown-content">
                    <a href="/crime_code">Crime Code</a>
                </div>
            </div>

            <div class="user-auth">
                {{#if user}}
                Logged in as: {{user.email}}
                <form action="/logout" method="POST" class="normal-interactable">
                    <button type="submit">LOG OUT</button>
                </form>
                {{else}}
                <a href="/login"><button type="button">LOGIN</button></a>
                <a href="/register"><button type="button">REGISTER</button></a>
                {{/if}}
            </div>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>