<html>

<head>
    <meta charset="utf-8">
    <title>City Jail Database</title>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
    <header>
        <h1>City Jail Database</h1>
        <nav class="nav-bar">
            <div class="dropdown">
                <button class="dropbtn">View</button>
                <div class="dropdown-content">
                    <a href="/criminal/all">View Criminals</a>
                    <a href="/crime">View Crimes</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">Edit</button>
                <div class="dropdown-content">
                    <a href="/criminal/view/:id">Edit Criminals</a>
                    <a href="/criminal/newin">Insert New Criminal</a>
                    <a href="/crime">Edit Crimes</a>
                </div>
            </div>

            <div class="user-auth">
                {{#if user}}
                <form action="/logout" method="POST" class="form-logout">
                    <button type="submit">LOG OUT</button>
                </form>
                Logged in as: {{user.email}}
                {{else}}
                <a href="/login"><button type="button">LOGIN</button></a>
                <a href="/register"><button type="button">REGISTER</button></a>
                {{/if}}
            </div>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>