<h3>
    Displaying details of #012345: Bad, Criminal
</h3>
<br>

<table>
    <tr style="background: rgb(200, 200, 200)">
        <th>Street</th>
        <th>City, State</th>
        <th>Zipcode</th>
        <th>Phone</th>
        <th>Violent</th>
        <th>Probation</th>
    </tr>
    <tr>
        <td>6 MetroTech Ctree</td>
        <td>Brooklyn, NY</td>
        <td>11201</td>
        <td>718-123-4567</td>
        <td>No</td>
        <td>No</td>
    </tr>
</table><br>

<table>
    <tr style="background: rgb(200, 200, 200)">
        <th>Sentence ID</th>
        <th>Type</th>
        <th>Probation Officer</th>
        <th>Start</th>
        <th>End</th>
        <th>Violation</th>
    </tr>
    <tr>
        <td>000001</td>
        <td>J - Jail Period</td>
        <td></td>
        <td>2020-01-01</td>
        <td>2020-01-01</td>
        <td>0</td>
    </tr>
    <tr>
        <td>000002</td>
        <td>H - House Arrest</td>
        <td></td>
        <td>2020-01-01</td>
        <td>2020-01-01</td>
        <td>0</td>
    </tr>
    <tr>
        <td>000003</td>
        <td>P - Probation</td>
        <td><a href="">Probation, Officer (#219201)</a></td>
        <td>2020-01-01</td>
        <td>2020-01-01</td>
        <td>2</td>
    </tr>
</table>