<html>
    <head>
        <title>City Jail Database System</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h3>
            Add Criminal Information
        </h3>
        <form>
            <div align="left">
                <div class="item">
                    <label>Name*</label>
                    <input placeholder="First">
                    <input placeholder="Last">
                </div>
                
                <div class="item">
                    <label>Address*</label>
                    <input size="42" placeholder="Street">
                </div>
                <div class="item">
                    <label></label>
                    <input placeholder="City">
                    <input size="15" placeholder="State">
                    <input size="10" placeholder="Zipcode">
                </div>


                <div class="item">
                    <label>Phone*</label>
                    <input placeholder="No hyphen">
                </div>

                <div class="item">
                    <label>Violent</label>
                    <select>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                </div>

                <div class="item">
                    <label>Probation</label>
                    <select>
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                </div>

                <div class="item">
                    <label>Aliases</label>
                    <textarea cols="40" rows="3" placeholder="Enter in seperate lines"></textarea>    
                </div>
            </div>
            <br>
            <input type="submit">
        </form>
    </body>
</html>