<h3>
    Displaying details of Crime #100001
</h3>
<br>

<table>
    <tr style="background: rgb(200, 200, 200)">
        <th>Crime ID</th>
        <th>Criminal ID</th>
        <th>Classification</th>
        <th>Date Charged</th>
        <th>Status</th>
        <th>Hearing Date</th>
        <th>Appeal Outcome Date</th>
    </tr>
    <tr>
        <td>100001</td>
        <td>012345</td>
        <td>Felony - Theft</td>
        <td>2023-04-01</td>
        <td>Open</td>
        <td>2023-05-15</td>
        <td>2023-06-20</td>
    </tr>
</table><br>
