<link rel="stylesheet" href="/css/page.css">
<h2>Crime Codes</h2>

<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each Crime_code}}
        <tr>
            <td>{{this.Crime_code}}</td>
            <td>{{this.Code_description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/crime_code/new">
    <button class="floating-button">New Entry</button>
</a>