<link rel="stylesheet" href="/css/form.css">

<h2>New Crime Code</h2>

<form method="POST" action="/crime_code/new">
    <div class="form-item">
        <label>Code</label>
        <input type="number" name="code" min="0" max="999" placeholder="Three digits number." required>
    </div>

    <div class="form-item">
        <label>Description</label>
        <input type="text" name="description" required>
    </div>

    <div class="form-item">
        <input type="submit" value="Submit">
    </div>
</form>