<link rel="stylesheet" href="/css/formInputPagesStyles.css">

<h3>
    Add Sentence for Criminal #{{criminal_ID}}
</h3>
<form method="POST" action="/criminal/addSentence/{{criminal_ID}}">
    <div class="form-item">
        <label>Sentence Type*</label>
        <select name="type">
            <option value="J">Jail</option>
            <option value="P">Probation</option>
            <option value="H">House Arrest</option>
            <option value="O">Other</option>
        </select>
    </div>

    <div class="form-item">
        <label>Probation Officer ID</label>
        <input name="probID" placeholder="Probation Officer ID (if applicable)">
    </div>

    <div class="form-item">
        <label>Start Date*</label>
        <input type="date" name="startDate">
    </div>

    <div class="form-item">
        <label>End Date*</label>
        <input type="date" name="endDate">
    </div>

    <div class="form-item">
        <label>Number of Violations</label>
        <input type="number" name="violations" placeholder="0" min="0" step="1">
    </div>
    
    <div class="form-item">
        <input type="submit" value="Add Sentence">
    </div>
</form>
