<h3>
    Add Criminal Information
</h3>
<form method="POST" action="new">
    <div class="form-item">
        <label>Name*</label>
        <input placeholder="First">
        <input placeholder="Last">
    </div>

    <div class="form-item">
        <label>Address*</label>
        <input size="42" placeholder="Street">
    </div>
    <div class="form-item">
        <label></label>
        <input placeholder="City">
        <input size="15" placeholder="State">
        <input size="10" placeholder="Zipcode">
    </div>


    <div class="form-item">
        <label>Phone*</label>
        <input placeholder="No hyphen">
    </div>

    <div class="form-item">
        <label>Violent</label>
        <select>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
    </div>

    <div class="form-item">
        <label>Probation</label>
        <select>
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
    </div>

    <div class="form-item">
        <label>Aliases</label>
        <textarea cols="40" rows="3" placeholder="Enter in seperate lines"></textarea>
    </div>

    <div class="form-item">
        <label></label>
        <input type="submit">
    </div>
</form>