<html>

<head>
    <meta charset="utf-8">
    <title>City Jail Database</title>
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
    <header>
        <h1>City Jail Database</h1>
        <nav>
            <div class="home-link" align="left">
                <a>
                    <button type="button">Criminal</button>
                </a>
                <a>
                    <button type="button">Crime</button>
                </a>
            </div>
            {{#if user}}
            Welcome, {{user.username}}!
            {{else}}
            <div class="login-status" align="right">
                <a href="/login"><button type="button">Login</button></a>
                <a href="/register"><button type="button">Register</button></a>
            </div>
            <hr>
            {{/if}}
        </nav>
    </header>
    {{{ body }}}
</body>

</html>