<link rel="stylesheet" href="/css/form.css">

<h3>
    Add Criminal Alias
</h3>
<form method="POST" action="/criminal/alias/new">
    <div class="form-item">
        <label>Criminal_ID*</label>
        <input name="id" value="{{Criminal_ID}}">
    </div>

    <div class="form-item">
        <label>Aliases</label>
        <textarea name="alias" cols="40" rows="3" placeholder="Enter in separate lines"></textarea>
    </div>

    <div class="form-item">
        <label></label>
        <input type="submit">
    </div>
</form>